* {
    font-family: "Playfair Display", serif;
}
#main {
    height: 80vh;
    display: flex;
    justify-content: center;
    .main__content {
        width: 80%;
        display: flex;
        background-color: #04b4e0;
        border-radius: 20px;
        box-shadow: 5px 5px 20px 5px rgb(192, 191, 191);

        .main__content__left {
            width: 30%;
            background-color: #04b4e0;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            position: relative;

            .main__content__left__top {
                .main__content__left__top__img {
                    img {
                        display: block;
                        max-width: 200px;
                        border-radius: 50%;
                        border: 3px solid rgb(255, 255, 255);
                        margin: 0 auto;
                        margin-top: 30px;
                    }
                }
            }

            .main__content__left__bottom {
            }

            .main__content__left__contacts {
                display: flex;
                justify-content: center;
                div {
                    width: 40%;
                    display: flex;
                    justify-content: space-around;
                    color: #ffffff;
                    margin-top: 10px;
                    a {
                        color: #ffffff;
                        margin: 0 auto;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 30px;
                        width: 30px;
                        text-decoration: none;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.3);
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                        }
                    }
                }
            }

            .main__content__left__download {
                width: 100%;
                display: flex;
                justify-content: center;
                div {
                    height: 20vh;
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        text-decoration: none;
                        &:hover {
                            background-color: #ffffff;
                            border-top-left-radius: 20px;
                            border-bottom-left-radius: 20px;
                            border-top-right-radius: 20px;
                            border-bottom-right-radius: 20px;
                            h5 {
                                color: #04b4e0;
                            }
                        }
                    }
                }
                h5 {
                    color: #ffffff;
                    font-weight: 500;
                    border: 2px solid rgb(255, 255, 255);
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    font-size: 20px;
                    padding: 10px 10px 10px 10px;
                }
            }
            .main__content__left__footer {
                width: 100%;
                position: absolute;
                bottom: 0px;
                display: flex;
                justify-content: center;
            }
        }

        .main__content__right {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75%;
            background-color: #ffffff;
            border-radius: 15px;
        }
    }
    #main__tools {
        width: 5%;
        margin-left: 20px;

        .main__tools__top {
            height: 50vh;
            width: 100%;
            border-radius: 40px;
            background-color: #ffffff;
            div {
                display: flex;
                justify-content: center;
                height: 60px;
                width: 100%;
                padding-top: 15px;
                i {
                    font-size: 30px;
                    color: rgb(201, 198, 198);
                    &:hover {
                        color: aqua;
                    }
                }
            }
        }
        .main__tools__bottom {
            margin-top: 10vh;
            height: 20vh;
            width: 100%;
            border-radius: 40px;
            background-color: #ffffff;
            div {
                display: flex;
                justify-content: center;
                height: 60px;
                width: 100%;
                padding-top: 25px;
                i {
                    font-size: 30px;
                    color: rgb(201, 198, 198);
                    &:hover {
                        color: aqua;
                    }
                }
            }
        }
    }
}
h3 {
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    color: #ffffff;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 800;
}
h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: #888;
}
h4 {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
}
h6 {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
}
